# Stainless cache directory
.stainless-cache

# Stainless log file
last.log

# Inox solver debug output
tip-sessions

# Inox smt debug folder
smt-sessions

# VSCode and scala-metals plugin files
.vscode
.metals

# emacs backup
*~

# bloop etc
.bsp
.scala-build
lexers/regex/.DS_Store
